@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html{
    width: 100%;
    height: 100%;
}

body{
    width: 95%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

@media only screen and (min-width: 1440px) {
    #content{
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 90%;
        height: 533px;
        border-radius: 5%;
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        justify-content: center
    }
}


@media only screen and (min-width: 375px) {
    #content{
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box{
        width: 90%;
        max-width: 363px;
        height: 533px;
        border-radius: 5%;
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        justify-content: center
    }

    .borderIMG{
        border-radius: 5%;
        width: 90%;
        max-height: 300px;
        margin: 5%;
    }

    .boldText{
        width: 80%;
        margin-top: 6%;
        font-weight: 700;
        text-align: center;
        font-size: 22px;
        color: hsl(218, 44%, 22%);
    }

    .smallText{
        width: 80%;
        margin: auto;
        font-weight: 400;
        text-align: center;
        font-size: 15px;
        color: hsl(212, 45%, 89%);
        margin-top: 6%;
    }
}